<header>  
<div class="container">
        <div class="logo">
            <img class="logoap" src="../assets/logoap.png"><img class="logoapmovil" src="../assets/logoapmovil.png"></div>

        <div class="loginysocial">
            <button type="button" class="login_button" href="/portafolio"><span><fa-icon class="loginIcon" [icon]="login"></fa-icon></span></button><fa-icon class="socialIcon" [icon]="instagram"></fa-icon> <fa-icon class="socialIcon"[icon]="linkedin"></fa-icon>
        </div>
    </div>
</header>