.educacion{
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: black;
    font-size:25px;
    color:white;
    padding-left: 15px;
    border-radius: 5px;
}

.educacion-img{
    height: auto;
    width: 80px;
    position:flex;
    
}

.container{
    border: 1px;
}


.boton-crud-editar  {
    margin:0 10px 0 10px;
    color:black
}
.boton-crud-editar:hover  {
    color:rgb(90, 90, 90);
}


  /* end btn editar */

  .boton-crud-eliminar{
    margin:0 10px 0 10px;
    color:red
  }

  .boton-crud-eliminar:hover{
    color:rgba(255, 0, 0, 0.713)
  }



