    <div class="container">
        <div class="experiencia">Experiencia</div>
        <div class="row">       
          <div class="col-md-2">             
            <img class="experiencia-img" src="../../assets/cuadro.png"></div> 
          <div class="col-md-10">
            <h3>MASISA, S.A</h3>
              <p class="cargo">Pasante</p>
                <p class="descripcion">
                Durante la realización de la pasantia en el area IT de la empresa, estuvo bajo mi responsabilidad el mantenimiento preventivo y correctivo del hardware y software, realizacion de respaldos, instalacion de sistemas operativos en equipos nuevos.    
                </p>
                <div class="fecha">Septiembre 2015 – Diciembre 2015</div>
          </div>

          <div class="row" *ngFor="let experiencia of experiencias">

          {{experiencia.descripcionExperiencia}}
          </div>
</div>
