    <div class="container">
        <div class="experiencia">Experiencia</div>
        <div class="row" *ngFor="let experiencia of experiencias">       
          <div class="col-md-2">             
            <img class="experiencia-img" src="{{experiencia.imagenExperiencia}}"></div> 
          <div class="col-md-10">
            <h3>{{experiencia.empresaExperiencia}}
              <div class="crud-menu">
              <a class="botones-crud" role="button" data-placement="top" data-toogle="tooltips" data-original-title="Edit"><span><fa-icon [icon]="Edit"></fa-icon></span></a>
              <a class="botones-crud" role="button" data-placement="top" data-toogle="tooltips" data-original-title="Delete"><span><fa-icon [icon]="Delete"></fa-icon></span></a>
              </div></h3>
           
              <p class="cargo">{{experiencia.cargoExperiencia}}</p>
                <p class="descripcion">
                  {{experiencia.descripcionExperiencia}}    
                </p>
                <div class="fecha">{{experiencia.fechaDesdeExperiencia}} – {{experiencia.fechaHastaExperiencia}}</div>
          </div>

</div>
