<div class="container">
  <h2>Skills</h2>
  <div class="row" *ngFor="let skills of skills">
    <div class="col-md-2">
      <p class="skill-title">{{skills.nombreSkill}}
        <div class="crud-menu">
          <a class="botones-crud" role="button" data-placement="top" data-toogle="tooltips" data-original-title="Edit"><span><fa-icon [icon]="Edit"></fa-icon></span></a>
          <a class="botones-crud" role="button" data-placement="top" data-toogle="tooltips" data-original-title="Delete"><span><fa-icon [icon]="Delete"></fa-icon></span></a>
          </div>
    </div>
    <div class="col-md-10">
      <div class="progress">
        <div class="progress-bar bg-dark" style.width="{{skills.porcentajeSkill}}%"></div>
      </div>    
  </div>
</div>
</div>