
    <div class="container">
        <h2>Proyectos</h2>
        <div class="row" *ngFor="let proyecto of proyectos">  
                
                <div class="col-md-2">
                  <img class="project-image" src="{{proyecto.imagenProyecto}}">
                </div>
                <!-- End .project-image -->
                <div class="col-md-10">
                    <h3>{{proyecto.nombreProyecto}}
                        <div class="crud-menu">
                        <a class="botones-crud" role="button" data-placement="top" data-toogle="tooltips" data-original-title="Edit"><span><fa-icon [icon]="Edit"></fa-icon></span></a>
                        <a class="botones-crud" role="button" data-placement="top" data-toogle="tooltips" data-original-title="Delete"><span><fa-icon [icon]="Delete"></fa-icon></span></a>
                        </div></h3>
                    <p>
                        {{proyecto.descripcionProyecto}}
                    </p>    
                    <a href="#" class="btn btn-outline-dark">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
    </div>
<!-- End #projects -->