
    <div class="container">
        <h2>Proyectos</h2>
            <div class="row">
                
                <div class="col-md-2">
                  <img class="project-image" src="../../assets/proyecto-img-1.png">
                </div>
                <!-- End .project-image -->
                <div class="col-md-10">
                    <h3>Project Name Here</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                    </p>    
                    <a href="#" class="btn btn-outline-dark">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
    </div>
<!-- End #projects -->