<header>  
<div class="container">
        <div class="logo">
            <img class="logoap" src="../assets/logoap.png"><img class="logoapmovil" src="../assets/logoapmovil.png"></div>

        <div class="loginysocial" *ngIf="usuario">
            <a href="/login" class="login_button" role="button"><span><fa-icon class="loginIcon" [icon]="login"></fa-icon></span></a>
            <a href="{{usuario.urlLinkedin}}" class="socialIcon" role="button"><span><fa-icon class="loginIcon" [icon]="linkedin"></fa-icon></span></a>
            <a href="{{usuario.urlInstagram}}" class="socialIcon" role="button"><span><fa-icon class="loginIcon" [icon]="instagram"></fa-icon></span></a>
       
        </div>
    </div>
</header>