<header>  
<div class="container">
        <div class="logo">
            <img class="logoap" src="../assets/logoap.png"><img class="logoapmovil" src="../assets/logoapmovil.png"></div>

        <div class="loginysocial">
            <a href="/login" class="login_button" role="button"><span><fa-icon class="loginIcon" [icon]="login"></fa-icon></span></a><fa-icon class="socialIcon" [icon]="instagram"></fa-icon> <fa-icon class="socialIcon"[icon]="linkedin"></fa-icon>
        </div>
    </div>
</header>