<div class="container">
    <div class="row" *ngIf="usuario">

      <div class="col-md-3">
        <img class="imagen-perfil" src="{{usuario.imagenUsuario}}" alt="Imagen de perfil" />
        
        <div class="datos-acerca">
        <h1>{{usuario.nombre}} {{usuario.apellido}}        <div class="crud-menu-user">
          <a class="botones-crud" role="button" data-placement="top" data-toogle="tooltips" data-original-title="Edit"><span><fa-icon [icon]="Edit"></fa-icon></span></a>
      </div></h1>
        <span>{{usuario.titulo}}</span> </div>
        
      </div>
      
  
      <div class="col-md-9">
        <div class="texto-acerca">
        {{usuario.descripcion}}
        </div></div>
  
    </div> </div>
  