<div class="container">
    <div class="row ">
  
      <div class="col-md-3">
        <img class="imagen-perfil" src="../../assets/odin.jpg" alt="Imagen de perfil" />
        <div class="datos-acerca">
        <h1>Odin López</h1>
        <span>Programador Full Stack & Técnico IT</span>
    </div>
      </div>
  
      <div class="col-md-9">
        <div class="texto-acerca">
        Soy una persona entusiasta de la tecnologia, familiarizado de forma autodidacta con el entorno informatico desde los 12 años, edad en la que ya estaba realizando maquetas web con el lenguage de hipertexto (HTML), posteriormente me gradue como tecnico en informatica en una escuela tecnica. Hoy en dia cuento con conocimientos más amplios en el mundo del desarrollo web.
        </div>
    </div>
  
    </div>
  </div>